In [1]:
x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
print(x+y)
print(x-y)
print(x/y)
print(x*y)

enter 1st number:9
enter 2nd number:7
16
2
1.2857142857142858
63

In [2]:
p=int(input("enter principal amount :"))
n=int(input("enter no. of yrs :"))
r=int(input("enter rate :"))
r=r/100
i=p*n*r
print("interest :",i)

enter principal amount :125
enter no. of yrs :3
enter rate :7
interest : 26.250000000000004

In [3]:
x=int(input("enter your marks :"))
if x>50:
  print('you are passed')
if x<50:
  print('you are failed')

enter your marks :80
you are passed

In [5]:
s=int(input("enter salary: "))
if s>250000:
  print("you r taxable")
  print("tax amount payable :",(s-250000)*(10/100))
else:
  print("not taxable")

enter salary: 300000
you r taxable
tax amount payable : 5000.0

In [13]:
s=int(input("enter salary: "))
if s>250000 and s<500000:
  print("you r taxable")
  print("tax amount payable :",(s-250000)*(10/100))
elif s>500000:
  print("not taxable")
  print("tax amount payable :",(s-250000)*(20/100))
else:
  print("not taxable")

enter salary: 1000000
not taxable
tax amount payable : 150000.0